name: Publish

on:
  workflow_dispatch:
    inputs:
      use-testpypi:
        description: 'Use TestPyPI'
        type: boolean
        required: false
        default: false

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.11']
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install build tools
        run: |
          pip install build twine
      - name: Build package
        run: |
          python -m build
      - name: Publish package to PyPI
        if: '${{ github.event.inputs.use-testpypi == false }}'
        shell: bash
        env:
          PYPI_API_TOKEN: ${{ secrets.pypi_api_token }}
        run: |
          echo "uploading to PyPI!"
      - name: Publish package to TestPyPI
        if: '${{ github.event.inputs.use-testpypi == true }}'
        shell: bash
        env:
          PYPI_API_TOKEN: ${{ secrets.testpypi_api_token }}
        run: |
          echo "uploading to TestPyPI!"
